*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.calc{
    background-color: darkgray;
    border-radius: 20px;
    padding: 20px;
}
tr{
    text-align: center;
    block-size: 50px;
    size: 50px;
}
.tela-bg{
    padding: 3px;
    background-color: aliceblue;
}
input{
    padding: 30px;
    background-color: aliceblue;
    color: #1C1C1C;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20%;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tela{
    border-radius: 0;
    border: none;
}
