<!DOCTYPE html>
<html>

<head>
    <title>Calculadora</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body onkeypress="manipularTeclado()">
<div class="container">
    <div class="calc">
    <table>
        <tr>
            <td class="tela-bg" colspan="6"><input class="tela" type="text" id="display" value="0" disabled></td>
        </tr>
        <tr>
            <td><input type="button" value="7" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="8" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="9" onclick="atualizarDisplay(this)" /></td>
            <td><input class="operador" type="button" value="*" onclick="atualizarOperacao(this)" /></td>
            <td><input class="operador" type="button" value="&radic;" onclick="raizQuadrada(this)"/></td>
            <td><input class=operador type="button" value="x²" onclick="exponenciaçaoQuadrada(this)"/></td>
        </tr>
        <tr>
            <td><input type="button" value="4" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="5" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="6" onclick="atualizarDisplay(this)" /></td>
            <td><input class="operador" type="button" value="-" onclick="atualizarOperacao(this)" /></td>
            <td><input class="operador" type="button" value=")" onclick="atualizarDisplay(this)" /></td>
            <td><input class=operador type="button" value="x³" onclick="exponenciaçaoCubica(this)"/></td>
        </tr>
        <tr>
            <td><input type="button" value="1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="2" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="3" onclick="atualizarDisplay(this)" /></td>
            <td><input class="operador" type="button" value="+" onclick="atualizarOperacao(this)" /></td>
            <td><input class="operador" type="button" value="(" onclick="atualizarDisplay(this)" /></td>
        </tr>
        <tr>
            <td><input class="limpar" type="button" value="C" onclick="limparDisplay()" /></td>
            <td><input type="button" value="0" onclick="atualizarDisplay(this)" /></td>
            <td><input class="resultado" type="button" value="=" onclick="calcularOperacao()" /></td>
            <td><input class="operador" type="button" value="/" onclick="atualizarOperacao(this)" /></td>
            <td><input class="operador" type="button" value="." onclick="atualizarDisplay(this)"></td>
        </tr>
    </table>
    </div>
</div>
    <script src="js/calc_functions.js"></script>
    
</body>

</html>
